@import "tailwindcss";

@theme {
    --color-primary: #0b0b49;
    --color-header-text: #ffffff;
    --color-header-bg: var(--color-primary);
}

:root {

}

body {

}

img {
    max-width: 100%;
    height: auto;
}
