@import "tailwindcss";

:root {

}

body:has(#options) {
    height: 100vh;
}

#root:has(#options) {
    height: 100%
}


img {
    max-width: 100%;
}

.horizontal-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #9E9E9E transparent;
    transition: scrollbar-color 0.2s ease;
    scroll-behavior: smooth;
}

.horizontal-scroll:hover {
    scrollbar-color: grey transparent;
}

.stacked-grid {
    display: grid;
    grid-template-areas: 'stack';
    justify-content: center;
    align-items: center;
    isolation: isolate;

    > * {
        grid-area: stack;

        &:first-child {
            z-index: 1;
        }

        &:nth-child(2) {
            z-index: 2;
        }
    }
}
